@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

img {
    width: 100%;
    height: 100%;
}

p {
    text-align: center;
    visibility: hidden;
    animation: talk 15s infinite;
}

.container {
    display: flex;
    width: 50px;
    height: 50px;
    transform: translate(0px, 0px);
    cursor: pointer;
    animation-name: walk;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes walk {
    0% {
        transform: translate(0px, 0px) rotateY(0deg) scale(1);
    }

    47.5%{
        transform: translate(600px, 400px) rotateY(0deg) scale(5);
    }
    47.51% {
        transform: translate(600px, 400px) rotateY(180deg) scale(5);
    }

    52.5% {
        transform: translate(600px, 400px) rotateY(180deg) scale(5);
    }

    100% {
        transform: translate(0px, 0px) rotateY(180deg) scale(1);
    }

}

@keyframes talk {

    0%,
    40% {
        visibility: hidden;
    }

    41% {
        visibility: visible;
    }
    46% {
        visibility: hidden;
    }
}